
# ide
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
.pnp.*
.pnpm-store/

# compiled output
/dist
/build

# Logs
logs
*.log
.pnpm-debug.log*

# Reports
reports

# System Files
.DS_Store
Thumbs.db
